# Bin dir
/bin
/build

# Dependencies dir
/dependencies

# Generated sources
src/parser/location.hh
src/parser/parser.cpp
src/parser/parser.hpp
src/parser/position.hh
src/parser/stack.hh
src/parser/tokens.cpp

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.code-workspace
